  .background-dark { color: #0c0c0e; }
.background-light { color: #35343d; }
.text-primary { color: #d4d3f2; }
.text-secondary { color: #211e67; }
.text-selected { color: #d4d3f2; }
.text-muted { color: #7d7c90; }
.text-fancy { color: #64671e; }
.text-accent { color: #1e4067; }
.success { color: #33671e; }
.warning { color: #e2cc32; }
.error { color: #67391e; }
.border-primary { color: #7d7c90; }
.border-secondary { color: #393943; }
.icon { color: #1e4067; }
.icon-active { color: #e2cc32; }
.icon-inactive { color: #666577; }
.sliders { color: #64671e; }
.dynamic { color: #64671e; }